@import url(media.css);
@import url(main.css);
@import url(nav.css);

.board_wrap {
  width: 1000px;
  margin: 100px auto
}

.board_title {
  margin-bottom: 30px;
}

.board_title strong {
  font-size: 3rem;
}
.board_list {
  height: 200px;
}
.board_list a {
  height: 100px;
  font-size: 3rem;
}
.board_list .blank {
  margin-top: 10px;
  margin-bottom: 10px;
}
.board_list .date,
.board_list .view_count,
.board_list .comment_count {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 10px;
}

.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}

.pagination {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 15px;
  list-style: none;
}
