.board_wrap {
  width: 1000px;
  margin: 10px auto
}

.board_title {
  margin-bottom: 30px;
}

.board_title strong {
  font-size: 3rem;
}
.board_list {
  height: 200px;
}
.board_list a {
  height: 100px;
  font-size: 3rem;
}
.board_list .blank {
  margin-top: 10px;
  margin-bottom: 10px;
}
.board_list .date,
.board_list .view_count,
.board_list .comment_count {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 10px;
}

.pagination {
  padding: .6em;
  padding-left: 0;
  margin: .5em;
  margin-left: 0;
  font-size: 15px;
  list-style: none;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 1400px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header > h1 > a {
  color: black;
}

.pagination {
  justify-content: center;
}
.container {
  margin-top: 50px;
}


.blockquote-footer {
  margin-top: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.current > a {
  font-weight: bold;
  background-color: #e9ecef;
}

.pagination {
  justify-content: center;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.col {
  cursor: pointer;
}