a {
    text-decoration: none;
    color: white;
}
  
header {
    width: 1400px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
  
header > h1 > a {
    color: black;
}

.mypage_main {
    width: 1000px;
    height: 1000px;
    margin: auto;
}

.mypage_midbox {
    width: 1000px;
    height: 1000px;
}

.card-body {
    text-align: center;
    /*margin: auto;*/
    flex: none;
}

.card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
    text-align: center;
    font-size: 1.5rem;
}

.glbtn {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}

.btn-outline-dark {
    margin-top: 20px;
    margin-left: 20px;
    width: 1000px;
    border-radius: 20px;
    padding: 0;
}

.btn-outline-dark a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    display: block;
    height: 100%;
    line-height: 70px;
    border-radius: 20px;
}

.btn-outline-dark:first-child {
    margin-left: 0;
}

#user_image {
    width: 60%;
    height: 60%;
    object-fit: cover;
    margin: auto;
}