a {
    text-decoration: none;
    color: white;
  }
  
header {
    width: 1400px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
  
header > h1 > a {
    color: black;
}

.mypage_main {
    width: 1000px;
    height: 1000px;
    margin: auto;
}

.mypage_midbox {
    width: 1000px;
    height: 960px;
    margin: auto;
}

.card-body {
    text-align: center;
    flex: none;
}

.card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
    text-align: center;
    font-size: 1.5rem;
}

.glbtn {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.btn-outline-dark {
    margin-top: 20px;
    margin-left: 20px;
    width: 1000px;
    border-radius: 20px;
    padding: 0;
}

.btn-outline-dark a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    display: block;
    height: 100%;
    line-height: 70px;
    border-radius: 20px;
}

.btn-outline-dark:first-child {
    margin-left: 0;
}

#user_image {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.btn-upload {
    margin: 0 0px 0 80px;
    width: 100px;
    height: 100px;
    line-height: 6rem;
    background-color: #f0f0f0;
    border-radius: 20px;
    border: 2px solid #000;
    text-align: center;
    cursor: pointer;
}

.myedit_imgupload {
    display: none;
}

.qwer {
    display: flex;
    width: 1000px;
    height: 400px;
}

.myedit_imgdel {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 20px;
}

label {
    display: inline-block;
    margin: auto;
}

input {
    width: 500px;
    text-align: center;
}

textarea {
    width: 500px;
    height: 200px;
    text-align: center;
}

.imgeditbtn {
    width: 300px;
    margin: auto;
    text-align: center;
}