<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/LDH_join.css') }}" rel="stylesheet" type="text/css"/>
    <script type=text/javascript src="{{ url_for('static', filename='js/LDH_script.js') }}"></script>
    <script src="signUpjs3.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>회원가입</title>
</head>

<body>
<div id="wrap" class="wrapper">
    <form method="post" name="join" id="join">
        <!-- 회원가입 타이틀부분 -->
        <header>
            <div id="header">
                <h2 class="LDH_h2"> 회원가입 </h2>
            </div>
        </header>

        <div id="container">
            <div class="row_group">
                <div class="userInput">
                    <!-- 아이디 입력 -->
                    <h3 class="list">아이디<span id="idError"></span></h3>
                    <span class="box int_id"><input type="text" id="user_id" class="int check"
                                                    maxlength="20"></span>
                </div>
                <div class="userInput">
                    <!-- 비밀번호 입력 -->
                    <h3 class="list">비밀번호<span id="pwError"></span></h3>
                    <span class="box int_id"><input type="password" id="user_pass1" class="int check"
                                                    maxlength="20"></span>
                </div>
                <!-- 비밀번호 재확인 입력 -->
                <div class="userInput">
                    <h3 class="list">비밀번호 재확인<span id="pwCheckError"></span></h3>
                    <span class="box int_id"><input type="password" id="user_pass2" class="int check"
                                                    maxlength="20"></span>
                </div>
            </div>
            <div class="row_group">
                <!-- 성명 입력 -->
                <div class="userInput">
                    <h3 class="list">성명<span id="nameError"></span></h3>
                    <span class="box int_id"><input type="text" id="name" class="int check"
                                                    maxlength="20"></span>
                </div>

                <!-- 이메일 입력 -->
                <div class="userInput">
                    <h3 class="list">이메일<span id="emailError"></span></h3>
                    <span class="emailInt" id="emailBox"> <input type="text" id="email" maxlength="20" class="check">
                     <span>   @ </span>
                        <!-- 이메일 택일 -->
                        <select id="mail_Select">
                           <option>이메일 선택</option>
                           <option>naver.com</option>
                           <option>gmail.com</option>
                           <option>daum.net</option>
                           <option>hanmail.net</option>
                           <option>hotmail.com</option>
                           <option>nate.com</option>
                           <option>yahoo.co.kr</option>
                           <option>empas.com</option>
                           <option>freechal.com</option>
                           <option>lycos.co.kr</option>
                           <option>korea.com</option>
                           <option>hanmir.com</option>
                           <option>dreamwiz.com</option>
                           <option>paran.com</option>
                        </select>
                  </span>
                </div>
                <!-- 개인정보 수집 동의 -->
                <div class="userInput">
                    <h3 class="list">개인정보 수집/이용동의<span id="consentError"></span></h3>
                    <div class="agree">
                        <p>Ⅰ. 개인정보의 수집 및 이용 동의서
                            - 이용자가 제공한 모든 정보는 다음의 목적을 위해 활용하며, 하기 목적 이외의 용도로는 사용되지 않습니다.
                            ① 개인정보 수집 항목 및 수집·이용 목적
                            가) 수집 항목 (필수항목)
                            - 성명(국문),이메일, 나이등
                            신청서에 기재된 정보 또는 신청자가 제공한 정보
                            나) 수집 및 이용 목적
                            - 내일배움캠프 테스트 확인
                            - 내일배움캠프 팀원의 등록 확인
                            - 내일배움캠프 자원관리
                            ② 개인정보 보유 및 이용기간
                            - 수집·이용 동의일로부터 개인정보의 수집·이용목적을 달성할 때까지
                            ③ 동의거부관리
                            - 귀하께서는 본 안내에 따른 개인정보 수집, 이용에 대하여 동의를 거부하실 권리가 있습니다. 다만,
                            귀하가 개인정보의 수집/이용에 동의를 거부하시는 경우에 장학생 선발 과정에 있어 불이익이 발생할 수
                            있음을 알려드립니다"
                        </p>
                    </div>
                    <div id="informationConsent">
                  <span id="consentBox">
                      <h3>개인정보 처리방침<span id="consentError"></span></h3>
                  </span>
                    </div>
                    <label class="select"><input type="radio" id="check" name="check" value="동의">동의</label>
                    <label class="select"><input type="radio" id="noneCheck" name="check" value="비동의" checked="checked">비동의</label>
                </div>
                <div class="btn_area">
                    <input type="submit" value="회원가입" id="btnJoin" class="btn_type btn_primary">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>




