<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- 반응형 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/super-build/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/super-build/translations/es.js"></script>

    <link rel="stylesheet" href="../static/css/write.css" />
    <title>글쓰기</title>
  </head>
  <body>
    <div class="board_write_wrap">
      <div class="board_write">
        <div class="title">
          <dl>
            <dt>제목</dt>
            <dd><input id="title" type="text" placeholder="제목 입력" /></dd>
          </dl>
        </div>
        <div id="container">
          <div id="editor"></div>
        </div>
        <script src="../static/js/write.js"></script>
      </div>
      <div class="bt_wrap">
        <a href="/board" onclick="save_cont()" class="on">등록</a>
        <a href="javascript:history.back();">취소</a>
      </div>
    </div>
  </body>
</html>
