<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="card mypage_midbox">
            <img src="${imgsrc}" id="user_image">
            <ul class="list-group list-group-flush">
            <li class="list-group-item mypage_email">이름 : ${name}</li>
            <li class="list-group-item mypage_disc">이메일 : ${email}</li>
            </ul>
            <div class="card-body">
            <h3 class="card-title mypage_name">${disc}</h3>
            </div>
        </div>
        <div class="glbtn">
            <button type="button" class="btn btn-outline-dark"><a href="/edit" class="card-link">프로필 수정</a></button>
            <button type="button" class="btn btn-outline-dark"><a href="/" class="card-link">홈으로</a></button>
        </div>
</body>
</html>